
h3{
    color: rgb(91, 136, 91);
    font-size: 20px;
}
/* Styles for larger screens */

body {
    font-family: 'Arial', sans-serif;
    background-color: #0e0d0d;
    color: #6b3535;
    margin: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  header {
    background-color: #4aaaee;
    color: #0a0b0a;
    padding: 10px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #00eb00;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  fieldset{
    background-color: #562a2ab7;
  }
  
  /* Styles for smaller screens (mobile view) */
  
  @media only screen and (max-width: 600px) {
    body {
      margin: 10px;
    }
  
    header, footer {
      padding: 5px;
    }
  
    main {
      padding: 10px;
    }
  }
  